/* General page styling */
    .dark-mode {
        background-color: #181818;
        color: #f5f5f5;
    }

    /* Light mode styles */
    .light-mode {
        background-color: #f5f5f5;
        color: #181818;
    }

    /* Header styling */
    h1 {
        text-align: center;
        margin-top: 20px;
    }

    .skills-box1 {
        max-width: 250px;
        margin: 20px auto;
        padding: 20px;
        border: 2px solid #ccc;
        border-radius: 10px;
        background-color: black;
        margin-left: 270px;
        padding-left: 20px;
    }